vignettes/.Rhistory
vignettes/.RData
.Rproj.user
data/filtered_gene_bc_matrices/hg19/barcodes.tsv
data/filtered_gene_bc_matrices/hg19/genes.tsv
data/filtered_gene_bc_matrices/hg19/matrix.mtx 
data/filtered_gene_bc_matrices/hg19/.DS_Store
data/.DS_Store
data/filtered_gene_bc_matrices/.DS_Store
.DS_Store
vignettes/vignettes.Rproj
vignettes/filtered_gene_bc_matrices/
vignettes/installation.html
vignettes/pbmc3k_filtered_gene_bc_matrices.tar.gz
vignettes/pbmc3k_tutorial.html
vignettes/pbmc3k_tutorial_times.csv
vignettes/pbmc3k_umap.jpg